* { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; }
canvas { display: block; }

#sound-splash {
	z-index: 1;
	position: fixed;
	width: 100%;
	background: white;
	top: 0;
	bottom: 0;
	padding: 2em;
}

#sound-splash * {
	font-family: verdana;
	font-size: 2em;
}

#sound-splash button {
	cursor: pointer;
	padding: 0.5em;
}